:host {
  display: block;
  cursor: pointer;
  :hover {
    background-color: yellow;
  }
  &.selected {
    color: red;
  }
  &.even {
    background-color: gray
  }
  &.odd {
    background-color: lightgray;
  }
}
